.content {
  background-color: rgb(9, 117, 18);
  background-image: url(https://s1.1zoom.ru/big3/825/Canada_Lake_Mountains_502039.jpg);
  float: left;
  display: block;
  width: 502px;
  margin-left: 5px;
  height: 100vh;
}